.container {
    background-color: #111;
    color: #fff;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__main {
        background-color: #30353d;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        .headline {
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center; 

            p {
                font-size: 2rem;
                position: relative;
                display: inline-block;
            }
            p::after {
                content: "";
                display: block;
                width: 90%;
                border-bottom: 1px solid white;
                margin: 15px auto 0;
            }
        }

        .block {
            width: calc(100% / 3);
            height: 75%;
        }

        .second_block {
            .block__content {
                flex-direction: row;
            }
        }
    }

    &__header, &__footer {
        display: flex;
        justify-content: space-between;
        background-color: #111;
    }

    &__header {
        min-height: 4rem;
        padding: 1rem 2rem;

        .logo {
            border-radius: 50%;
            padding: 1rem 1rem 2rem 1rem;
            background-color: #555;
            cursor: pointer;

            &:hover {
                background-color: #d98532;
                transition: .2s;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            text-align: right;
            justify-content: center;

            span:nth-child(2) {
                color: #ccc;
            }
        }

        .icon {
            height: 3rem;
        }

    }

    &__footer {
        min-height: 5rem;
        padding: 0.5rem 2rem 1rem 2rem;
        align-items: center;

        .footer_block {
            width: calc(100%/3);
        }

        .footer_block:nth-last-child(1) {
            text-align: right;
        }

        .cssDiv {
            width: 4.25rem;
            height: 4.25rem;
            padding: 2px;
            display: flex;
            flex-wrap: wrap;
            cursor: pointer;
            color: #333;
            font-size: 1.125rem;
            position: relative;
          
            .border {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid #333;
                transition: border-color .2s, transform .4s;
                pointer-events: none;
            }
          
            &:hover .border {
                border-color: #d98532;
                transform: rotate(360deg);
            }
          
            .content {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                pointer-events: none;
            }
          
            span {
                width: 100%;
                text-align: center;
            }
          
            &:hover {
                color: #ccc;
            }
        }

        .company-name {
            width: 12rem;
            position: relative;
            text-align: center;
            margin: 20px auto;
        }
          
        .company-name::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            border-top: 1px solid #333;
            z-index: 1;
        }
          
        .company-name span {
            background-color: #111;
            padding: 0 0.75rem;
            position: relative;
            color: #333;
            font-size: 1.5rem;
            z-index: 2;
        }
    }
}


@media screen and (max-width: 1180px) {
    .container {
        &__main {
            .block {
                height: calc(75% / 2);
            }

            .first_block, .second_block {
                width: calc(100% / 2);
            }

            .third_block {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .second_block {
        .block__content {
            flex-direction: column !important;
            align-items: center;

            button {
                margin-bottom: 1rem;
                max-width: 75%;
            }
        }
    }
    
    .container {
        &__header {
            .description {
                font-size: 1.25rem;
            }
        }

        &__main {
            .headline {
                height: 20%;
            }

            .block {
                height: 40%;
            }
        }

        &__footer {
            .footer_block {
                width: calc(100% / 2);
            }

            .company-name {
                display: none;
            }
        }
    }
}
