.container {
    background-color: #111;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    color: #fff;

    &__main {
        background-color: #30353d;
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        .headline {
            width: 100%;
            height: 25%;
            display: flex;
            align-items: center;
            justify-content: center; 

            p {
                font-size: 2rem;
                position: relative;
                display: inline-block; /* Ensures the width is only as wide as the text */
            }
            p::after {
                content: "";
                display: block;
                width: 90%; /* 90% of the text length */
                border-bottom: 1px solid white; /* White line, 1px solid */
                margin: 15px auto 0; /* Adds some space above the line */
            }
        }

        .first_block, .second_block, .third_block {
            width: calc(100% / 3);
            height: auto;
        }
    }

    &__header, &__footer {
        min-height: 4rem;
        background-color: #111;
    }

    &__header {
        padding: 1rem 2rem;
        display: flex;
        justify-content: space-between;

        .logo {
            border-radius: 50%;
            padding: 1rem 1rem 2rem 1rem;
            background-color: #555;

            &:hover {
                background-color: #d98532;
                cursor: pointer;
                transition: .2s;
            }
        }

        .description {
            display: flex;
            flex-direction: column;
            font-size: 1.5rem;
            text-align: right;

            span:nth-child(2) {
                color: #ccc;
            }
        }

        .icon {
            height: 3rem;
        }

    }
}